<%= simple_form_for(entry, as: :entry, method: [:post, :patch]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :production_formula, as: :hidden, input_html: \
                      { value: params[:id] ? item.production_formula_id : formula.id } %>
    <%= f.association :item_master, collection: ItemMaster.where(master_formula_id: \
                      params[:id] ? item.master_formula.id : formula.master_formula_id) \
                      , label_method: :item_name, value_method: :id, prompt:  "Choose an Item"  %>
    <%= f.input :quantity %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
