<%= simple_form_for(@production_formula) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :master_formula, collection: MasterFormula.ordered, label_method: :formula_name, value_method: :id, prompt:  "Choose a Formula" %>
    <%= f.association :production_schedule, collection: ProductionSchedule.ordered, label_method: :date_format, value_method: :id, selected: params[:production_schedule_id] %>
    <%= f.input :tonnage %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
